html,body{
    height: 100%;
}

.container{
    height: 100%;
}

.box{
    min-height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sub-container
{
    display: flex;
    flex-direction: column;
}


.sub-container
{
    display: grid;
    grid-template-areas:
    'left right';
    margin-top: 30px;
    margin-bottom: 30px;
}

.header
{
    display: flex;
    align-items: center;
    height: 75px;
    padding: 20px;
    background-color: whitesmoke;
}

.left-container
{
    grid-area: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container
{
    grid-area: right;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}


.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: none;
    height: 75px;
    background-color: whitesmoke;
}

.left-container > img
{
    max-width: 300px;
    height: auto;
}

.sub-right-container
{
    display: flex;
    flex-direction: column;
}

.sub-right-container > *
{
    margin: 15px;
}

.btn
{
    background-color: #242729;
    color: white;
    border: none;
}

.btn-a
{
    display: flex;
    justify-content: center;
    background-color: #242729;
    border: none;
    padding: 10px;
    text-decoration: none;
}

.btn-a:hover
{
  background-color: black;
}

h1
{
    font-size: 40px;
}


*
{
    font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 650px) {
.sub-container{
    grid-template-areas:
    'left'
    'right';
 }
}



